.thanks-block
	.thank-image
		img(src="img/icon/icon--list-order.png", alt="")
	.thank-text
		h3 Спасибо за вашу заявку!
		p Мы получили ваш заказ. Скоро мы перезвоним вам для уточнения деталей доставки.