@media screen and (max-width: 1349px)
	.slider-home--items-text
		padding-top 20px
	.make-order--form
		.col-md-4
			width 28%
		.col-md-8
			width 72%
	.make-order--text p img
		margin-right 30px
	.make-order
		padding-left 30px
	.calculate-brick--wrapper
		padding 40px 35px
	.calculate-brick--head h3 img
		margin-right 28px
	.calculate-brick--form
		padding-left 75px
	.calculate-brick--item-block
		margin -15px
		.calculate-brick--item
			padding 15px

@media screen and (max-width: 1280px)
	.calculate-brick--item-block
		margin -10px
		.calculate-brick--item
			padding 10px
			input
				min-width auto
				width 100%
	.calculate-brick--form-size
		width 55%
	.calculate-brick--form-type
		width 45%
	.built-objects--wrapper
		.built-objects--slider-big
			width 54%
		.built-objects--slider-small
			width 46%

@media screen and (max-width: 1199px)
	.calculate-brick--form
		padding-left 0
	.product-description--price .add-pay
		flex-direction column
		align-items flex-start
		.button
			margin-right 0
			margin-bottom 30px
	.make-order--form
		.row
			flex-direction column
			.col-md-4,
			.col-md-8
				width 100%
		.make-order--text
			margin-bottom 20px
	.make-order--text
		padding-left 0
	.calculate-brick--wrapper
		padding 40px 30px
	.container-offset
		padding-left 0
	.heading-breadcrumbs.heading-breadcrumbs--offset h1
		padding-left 0
		margin-left 0
	.top-menu li:not(:last-child)
		margin-right 40px
	.built-objects--wrapper
		.built-objects--slider-big
			width 50%
		.built-objects--slider-small
			width 50%
	.built-object--head .big-red
		font-size 60px
	.built-object--head h4
		font-size 32px
		line-height 36px

@media screen and (max-width: 1124px)
	.list-contact li a,
	.list-address .list-address--main,
	.catalog-footer .catalog-list li a,
	.menu-footer--list li a
		font-size 14px
	.resurt-calculate--wrapper
		flex-direction column
		margin-top 40px
		align-items flex-start
		.resurt-calculate--button
			margin-right 0
			margin-bottom 30px
	.icon-bolun .hide-content
		padding: 8px 10px
		width 160px
		line-height 22px
	.slider-home--top .slick-slide img
		max-width 80%
		margin-left auto

@media screen and (max-width: 1084px)
	.drop-phone
		margin-left 25px
	.top-menu li:not(:last-child)
		margin-right 35px

@media screen and (max-width: 1060px)
	.line-steinhaus--wrapper
		.line-steinhaus--content,
		.line-steinhaus--images
			width 50%

@media screen and (max-width: 1024px)
	.footer-top
		padding-bottom 20px
		.row
			flex-wrap wrap
		.col-md-3,
		.col-md-2
			width calc(100% / 3)
			margin-bottom 30px
	.calculate-brick--form-size,
	.calculate-brick--form-type
		width 50%
	.calculate-brick--wrapper
		padding 30px
	.heading-breadcrumbs.heading-breadcrumbs--offset h1
		margin-left 0
		padding-left 0
		padding-right 40px
	.news-post--prewiev
		.col-md-7
			width 70%
		.col-md-3
			width 30%

@media screen and (max-width: 1023px)
	.top-menu--wrapper
		overflow auto
	.copy-wrapper a:not(:first-child)
		margin-left 40px
	.uniqueness-wrapper--info-text h3
		font-size 32px
		line-height 36px

	.closed-burger,
	.burger-menu
		display flex

	.top-menu--wrapper
		position absolute
		top 0
		left 0
		height 100vh
		width 100%
		background: #fff
		z-index 10
		padding: 40px
		opacity 0
		visibility hidden
		display none
		&.is-active
			opacity 1
			visibility visible
			display block
	
	.top-menu
		flex-direction column
		li
			a
				font-size 24px
				line-height 36px
			&:not(:last-child)
				margin-bottom 14px
			.sub-menu
				position: relative
				padding-top: 0
				transform: translate(0,0px)
				opacity: 1
				visibility: visible
				ul
					box-shadow none
					padding 10px 20px
		li:not(:last-child)
			margin-right 0

@media screen and (max-width: 991px)
	.calculate-brick--form-type
		padding-left 30px
	.calculate-brick--item
		width 100%
	.radio-brick--block .radio-brick--item
		width calc(100% / 2)
	.slider-advantages
		margin-bottom 30px
	.section--steinhaus-bulit,
	.section-advantages
		overflow hidden
	.section-advantages
		.row
			flex-direction column-reverse
			[class*=col-]
				width 100%
		.slick-slide img
			max-width 100%
	.product-color img
		transform: translate(65%,0)
	.catalog-brick
		.col-md-4
			width 50%
		.product-catalog
			margin 0 auto 20px
	// .footer-top
	// 	padding-bottom 20px
	// 	.row
	// 		flex-wrap wrap
	// 	.col-md-3,
	// 	.col-md-2
	// 		width calc(100% / 3)
	// 		margin-bottom 30px
	.blog-steinhaus--list-post,
	.blog-steinhaus--big-post
		width 50%
	.brick-color--item .brick-color--img img
		height 80%
		transform: translate(0, 10%);
	.brick-color--item .in-catalog,
	.brick-color--item .button.button-red
		opacity 1
		visibility visible
	.lego-brick--content-wrapper
		flex-wrap wrap
	.lego-brick--content-items.lego-brick--sertificat
		width 100% !important
		margin-bottom 30px
	.lego-brick--content-items
		width 50% !important

@media screen and (max-width: 960px)
	.top-menu li:not(:last-child)
		color #000
	.built-object--head .big-red
		font-size 50px
	.built-object--head h4
		font-size 26px
		line-height 36px

@media screen and (max-width: 900px)
	.name-phone--main
		flex-direction column
		.name-phone--wrapper
			margin-bottom 30px

@media screen and (max-width: 854px)
	.politic-wrapper a, a
		font-size 12px
	.calculate-brick--wrapper
		padding 20px
	.make-order
		padding 20px
		margin-bottom 30px
	.product-parametr .product-info
		margin -5px
	.product-parametr .product-info li
		margin 5px
	.product-sertificat
		margin 25px 0
	.product-sertificat .product-sertificat--item
		padding 12px 0
	.slider-product--images:before
		display none
	.product-information
		.row
			flex-direction column
			.col-md-7,
			.col-md-5
				width 100%
	.product-description--head
		h1
			font-size 32px
	.advantages-navigate
		display none !important
	.icon-bolun .hide-content
		width 235px
	.line-steinhaus--wrapper .line-steinhaus--content
		padding-right 0
	.news-prewiev
		.col-md-3
			width calc(100% / 3)
	.number-section--items
		width calc(100% / 2)
	.section--line-steinhaus
		padding-top 60px
	.line-steinhaus--wrapper
		flex-direction column
		.line-steinhaus--content,
		.line-steinhaus--images
			width 100%
		.line-steinhaus--content
			margin-bottom 30px
	.built-objects--slider-big .built-slider--big-item
		height 470px
	.section-uniqueness
		overflow hidden
	.section--built-objects
		padding-top 40px
	.built-objects--wrapper
		flex-direction column-reverse
	.built-object--head
		padding 0
		margin-bottom 30px
	.built-objects--wrapper .built-objects--slider-big,
	.built-objects--wrapper .built-objects--slider-small
		width 100%
	.built-slider--small
		display none
	.uniqueness-wrapper
		flex-direction column-reverse
	.uniqueness-wrapper--info-text
		width 100%
		padding-left 0
		margin-bottom 30px
	.uniqueness-wrapper--table-img
		width calc(100% + 30px)
	.new-catalog--items
		margin-right 30px
	.new-catalog--navigate .new-catalog--next, .new-catalog--navigate .new-catalog--prev
		width 60px
	.lego-brick--content
		overflow hidden
	.slider-home--items
		flex-direction column
		justify-content flex-start
		align-items flex-start
	.section--home-slider
		padding-top 20px
	.slider-top-nav
		position relative
	.slider-home--items-text
		padding-top 0
		position relative
		margin-bottom 20px
		h3
			font-size 32px
			line-height 42px
	.slider-home--items-text .ofsset-title
		margin-bottom 30px

@media screen and (max-width: 768px)
	.product-sertificat
		.row
			flex-direction column
			.col-md-4
				width 100%
	.section--steinhaus-bulit .heading-back
		padding-top 10px
	.slider-product--images
		padding-bottom 40px
	.section--new-catalog .heading-default
		padding 0 10px
	.section--new-catalog
		.container
			padding 0
	
	.uniqueness-wrapper--table-img
		width calc(100% + 14px)
		margin 0 -7px
	.uniqueness-wrapper--table-img .uniqueness-items
		padding 0 7px
	.section-uniqueness
		padding-top 20px
	.section--new-catalog
		padding-bottom 30px
		overflow hidden

	.heading-default--link li:not(:last-child)
		margin-right 45px	
	.heading-default h3
		font-size 32px
		line-height 36px

	.lego-brick--img
		position relative
		min-height 250px
		img
			position absolute
			top 0
			left 0
			object-fit cover
			width 100%
			height 100%

@media screen and (max-width: 720px)
	.politic-wrapper
		display none
	.calculate-brick--form
		flex-direction column
		.calculate-brick--form-size,
		.calculate-brick--form-type
			width 100%
		.calculate-brick--form-size
			margin-bottom 30px
		.calculate-brick--form-type
			padding-left 0
	.section--steinhaus-bulit
		.heading-back
			flex-direction column
			align-items flex-start
			padding-bottom 30px
			.link-back
				margin-bottom 14px
			.breadcrumbs-list
				padding-left 0
	.heading-breadcrumbs
		margin-top 24px
	.big-catalog
		padding-bottom 30px
	.catalog-brick
		[class*=col-]
			width 100%
		.product-color
			margin 0 auto 20px
			img
				transform: translate(85%,0)
		
	.post-prewiev
		margin-bottom 24px
	.heading-breadcrumbs
		flex-direction column
		h1
			max-width 100%
			padding-right 0
			.date
				position relative
				display block
				margin-top 10px
		.breadcrumbs-list
			padding-left 0
			margin-top 14px
	.news-post--prewiev
		.row
			flex-direction column
		.col-md-7,
		.col-md-3
			width 100%
	.heading-breadcrumbs h1
		font-size 32px
	.news-prewiev
		.col-md-3
			width calc(100% / 2)
	.footer-top
		padding-bottom 10px
	.footer-top .logo,
	.footer-top .description-company
		margin-bottom 18px
	.menu-footer--list li:not(:last-child)
		margin-bottom 10px
	.list-address li:not(:last-child)
		margin-bottom 20px
	.list-contact li:not(:last-child)
		margin-bottom 14px
	.footer-top
		.col-md-3,
		.col-md-2
			width calc(100% / 2)
	.catalog-col
		display none
	.brick-color--item
		.button
			padding 15px
	.blog-steinhaus
		flex-direction column
	.blog-steinhaus--list-post,
	.blog-steinhaus--big-post
		width 100%
	.list--blog-steinhaus
		padding-left 0

@media screen and (max-width: 640px)
	.resurt-calculate--itog p
		font-size 16px
	.name-phone--main .name-phone--wrapper
		flex-direction column
		.name-phone
			margin-right 0
			padding-top 0
			margin-bottom 20px
	.section--news-prewiev
		padding-top 30px
	.politic-wrapper
		display none
	.lego-brick--content-items
		width 100% !important
		&:not(:last-child)
			margin-bottom 20px

@media screen and (max-width: 600px)
	.radio-brick--block
		margin -10px
		.radio-brick--item
			padding 10px
	.icon-bolun .hide-content
		width 160px
	.uniqueness-wrapper--table-img .uniqueness-items
		width 100%
		margin-bottom 14px
	.slick-slide img
		max-width 100%
	.uniqueness-wrapper--table-img
		width 100%
		margin 0
		.uniqueness-items
			padding 0

@media screen and (max-width: 540px)
	.section--company-about .company-about--description
		flex-direction column
	.company-about--images
		img
			display block
			width 200px
			margin 0 auto
	.section--slider-about
		padding-bottom 35px
	.company-about--sertificat
		margin-bottom 30px
	.company-about--sertificat .sertificat-items
		width 100%
	.section--slider-about h3
		font-size 32px
		margin-bottom 30px
	.resurt-calculate--wrapper .resurt-calculate--button
		display flex
		flex-direction column
		width 100%
	.resurt-calculate--button .button:not(:last-child)
		margin-right 0
		margin-bottom 20px
	.heading-breadcrumbs
		margin-bottom 40px
		h1
			font-size 32px
			padding-right 30px
	.news-prewiev
		.row
			margin 0 -7px
		[class*=col-]
			padding 0 7px
	.number-section--items
		width 100%

	.line-steinhaus--wrapper
		flex-direction column-reverse
		.line-steinhaus--content
			padding-right 0
			margin-top 30px
			h3
				font-size 32px
				line-height 36px
	.built-objects--slider-big .built-slider--big-item
		height 360px
	.new-catalog--navigate .new-catalog--next, .new-catalog--navigate .new-catalog--prev
		display none !important
	.slider-home--top-wrapper .slick-dots li
		width 2px
	.slider-top-nav
		margin 20px auto 0
	.slider-home--items-img
		padding-right 12px
	.drop-phone
		display none

@media screen and (max-width: 480px)
	.resurt-calculate--itog p #result-brick
		display block
	.post-prewiev .post-prewiev--img
		margin-bottom 14px
	.heading-breadcrumbs
		margin-bottom 24px
		h1
			padding-right 0
	.news-prewiev--item
		margin 0 auto 20px
	.news-prewiev .col-md-3
		width 100%
	
	.built-objects--slider-big .built-slider--big-item
		height 280px
	.uniqueness-items .uniqueness-items--content .count
		font-size 32px
		margin-right 20px
	.uniqueness-items .uniqueness-items--content .text p
		br
			display none
	.product-catalog
		width 100%
	.scroll--home-section
		margin-bottom 50px
	.slider-home--items
		min-height auto
	.heading-default h3
		font-size 26px
		line-height 36px

@media screen and (max-width: 479px)
	.contact-contents
		flex-direction column
	.icon-bolun .hide-content
		top: calc(100% + 10px)
		left: calc(50% - 60px)
		width 120px
		font-size 12px
		line-height 16px
	.icon-bolun.left-position--bolun .hide-content
		right auto
		top: calc(100% + 10px)
		left: calc(50% - 60px)

@media screen and (max-width: 414px)
	.count-brick
		flex-direction column
	.qty-input
		width 100%
	.slider-product--prewiev .items-slide:not(:last-child)
		margin-right 15px
	.catalog-brick .product-color 
		.button
			padding 15px
		img
			transform: translate(55%,0)
			opacity .4
	.copy-wrapper
		.copy
			font-size 12px
	.footer-top .col-md-2, .footer-top .col-md-3
		width 100%
	.menu-footer--col,
	.address-footer--col
		display none

@media screen and (max-width: 375px)
	.name-phone--main .submit--make-order
		max-width 100%
		.button
			max-width 100%
	.make-order--text p
		font-size 20px
		img
			margin-right 20px
	.product-description--price
		margin-bottom 20px
	.product-description--text p
		font-size 14px
		line-height 22px
		&:not(:last-child)
			margin-bottom 14px
	.slider-product--prewiev .items-slide:not(:last-child)
		margin-right 10px
	.breadcrumbs-list
		display none
	.product-catalog
		padding 20px 20px 25px
	.line-steinhaus--wrapper .line-steinhaus--content h3
		font-size 28px
		line-height 34px
	.slider-home--items.slick-active .slider-home--items-text h3
		font-size 28px
		line-height 36px
	
@media screen and (max-width: 360px)
	.product-catalog
		padding 20px 20px 25px