.footer
	position absolute
	left 0
	bottom 0
	width 100%
	background: #fff
	overflow hidden
	border-top 1px solid #e1e1e1

.footer-top
	padding-top 38px
	padding-bottom 50px
	
	.logo
		display inline-block
		margin-bottom 39px
	
	.description-company
		font-size 16px
		color #000
		margin-bottom 38px
	
.social-wrapper
	span
		display inline-block
		color: #979797
		font-size: 14px
		font-weight: 300
		margin-bottom 9px
	
.social-list
	display flex
	flex-direction row
	li
		&:not(:last-child)
			margin-right 15px

.menu-footer--list
	li
		&:not(:last-child)
			margin-bottom 20px
		&:hover
			a
				padding-left 10px
		a
			color: #010101
			font-size: 16px
			font-weight: 400
			text-decoration none
			trn(.2s)

.catalog-footer
	span
		display inline-block
		color: #010101
		font-size: 16px
		font-weight: 400
		margin-bottom 20px
	.catalog-list
		li
			margin-bottom 20px
			&:hover
				a
					color: #010101
			a
				color: #aeaeae
				font-size 16px
				font-weight 400
				text-decoration none
				trn(.2s)

.list-address
	li
		&:not(:last-child)
			margin-bottom 40px

	.list-address--name
		display flex
		flex-wrap wrap
		color: #f6050f
		font-size: 16px
		font-weight: 400
		margin-bottom 12px
		span
			display inline-block
			margin-right 25px
		a
			display flex
			align-items center
			color: #888888
			font-size 14px
			font-weight 400
			text-decoration none
			&.icon--to-map:after
				margin-left 8px

	.list-address--main
		color: #000000
		font-size: 16px
		font-weight: 400

.list-contact
	li
		&:not(:last-child)
			margin-bottom 35px
		.name-contact
			display block
			color: #f6050f
			font-weight: 400
			margin-bottom 16px
		a
			font-size 16px
			color: #000000
			font-weight: 400
			text-decoration none

.footer-bottom
	border-top 1px solid #e1e1e1
	padding-top 12px
	padding 14px 0
	
.copy-wrapper
	display flex
	justify-content space-between
	a
		&:not(:first-child)
			margin-left 130px

.politic-wrapper a,
.copy-wrapper,
	.copy,
	a
		color: #888888
		font-size: 14px
		font-weight: 300
		text-decoration none