extends layout.pug

block variabl
	- var title = "SteinHaus"

block header
	include include/header

block main
	main.section_main

		section.section--shipping-payment
			.container
				.heading-breadcrumbs.heading-breadcrumbs--offset
					h1 Доставка и оплата
					ul.breadcrumbs-list
						li
							a(href="#") Главная
						li Доставка и оплата
		
				
				.container-offset
					.default-content
						p #[b Оплата] — производится только по безналичному расчету после подписания договора. Оплата по наличному расчету не осуществляется
						p Перед отгрузкой продукции происходит контроль качества кирпича. Покупатель получается полностью целый и проверенный кирпич.
						p #[b Доставка автотранспортом] — осуществляется через рекомендуемую нами транспортную компанию ООО «Аннтранс», г. Лобня ИНН/КПП: 5047210490 / 504701001 Телефон: 8 (963) 602 50 44, 8 (903) 535 19 88, либо через любую удобную для Вас транспортную компанию.
						p #[b Путем самовывоза с производства] — осуществляется отгрузка (только по предварительной оплате) по адресу: Тверская область, г. Кимры, ул. Дмитрия Баслыка, дом 7 Время работы склада — будние дни с 08-00 до 17-00, а также в выходные по предварительному согласованию.
						p.quotes Напоминаем, что при получении Товара, Ваш представитель либо Представитель Перевозчика должен иметь надлежаще оформленную Доверенность на получение Товара (форма М-2), а также документ, удостоверяющий личность.

						p
							b При заказе автотранспорта необходимо учитывать:
						p
							span При загрузке на нашем складе возможна только боковая погрузка с обеих сторон транспортного средства.
						ul
							li Размер поддона 800×1200 (мм)
							li На одном поддоне размещено 450 кирпичей
							li Вес одного поддона кирпича 1375 кг

		.height-55

		include include/_lego-brick

		include include/_blog-stein