section.section--blog-steinhaus
	.container
		.blog-steinhaus--wrapper
			.heading-default.heading-center
				h3 Блог STEINHAUS
				ul.heading-default--link
					li
						a(href="#") Читать блог
		.blog-steinhaus
			.blog-steinhaus--big-post
				.image--blog-steinhaus
					img(src="img/steinhaus-post.jpg", alt="")
				.blog-black--desc
					a(href="#").blog-black--desc-name Гиперпрессованый кирпич для кладки забора
					.default--date-more
						span.date 25 июня 2020
						a(href="#").more Читать
			.blog-steinhaus--list-post
				ul.list--blog-steinhaus
					li
						a(href="#").name--blog-steinhaus Видео обзор построенного проекта из гиперпрессованого кирпича
						.default--date-more
							span.date 25 июня 2020
							a(href="#").more Читать
					li
						a(href="#").name--blog-steinhaus Производственная линия кирпича от STEINHAUS
						.default--date-more
							span.date 25 июня 2020
							a(href="#").more Читать
					li
						a(href="#").name--blog-steinhaus Обзор лего кирпича STEINHAUS
						.default--date-more
							span.date 25 июня 2020
							a(href="#").more Читать