section.section--built-objects
	.container
		.built-objects--wrapper
			.built-objects--slider-big
				.built-slider--big
					.built-slider--big-item
						img(src="img/built-slider--big.jpg", alt="")
					.built-slider--big-item
						img(src="img/built-slider--small.jpg", alt="")
					.built-slider--big-item
						img(src="img/built-slider--big.jpg", alt="")
					.built-slider--big-item
						img(src="img/built-slider--small.jpg", alt="")
			.built-objects--slider-small
				.built-object--head
					h3.big-red STEINHAUS
					h4 Построенные объекты
					.built-objects--navigate
				.built-slider--small
					.built-slider--small-item
						img(src="img/built-slider--small.jpg", alt="")
					.built-slider--small-item
						img(src="img/built-slider--big.jpg", alt="")
					.built-slider--small-item
						img(src="img/built-slider--small.jpg", alt="")
					.built-slider--small-item
						img(src="img/built-slider--big.jpg", alt="")