.lego-brick--top
	.container
		.heading-default.heading-center
			h3 Лего кирпич
			ul.heading-default--link
				li
					a(href="#") Подробнее
				li
					a(href="#") Каталог

		.lego-brick--img
			img(src="img/lego-brick--img.png", alt="")