footer.footer
	.footer-top
		.container
			.row
				.col-md-3
					a(href="#").logo
						img(src="img/logo.png", alt="")
					p.description-company #[b STEINHAUS] - производитель уникального гиперпрессованого лего кирпича в России
					.social-wrapper
						span Мы в социальных сетях
						ul.social-list
							li
								a(href="#")
									img(src="img/icon/facebook.png", alt="")
							li
								a(href="#")
									img(src="img/icon/instagram.png", alt="")
							li
								a(href="#")
									img(src="img/icon/vk.png", alt="")
							li
								a(href="#")
									img(src="img/icon/youtube.png", alt="")
				.col-md-2.menu-footer--col
					.menu-footer
						ul.menu-footer--list
							li
								a(href="#") Главная
							li
								a(href="#") О нас
							li
								a(href="#") Производство
							li
								a(href="#") Дилерская сеть
							li
								a(href="#") Доставка и оплата
							li
								a(href="#") Блог
							li
								a(href="#") Контакты
				.col-md-2.catalog-col
					.catalog-footer
						span Каталог
						ul.catalog-list
							li
								a(href="#") Одноцветный кирпич
							li
								a(href="#") Двухцветный кирпич
				.col-md-3.address-footer--col
					.address-footer
						ul.list-address
							li
								span.list-address--name
									span Адрес производства
									a(href="#").icon--to-map На карте
								span.list-address--main г. Кимры, ул. Дмитрия  Баслыка, 7
							li
								span.list-address--name
									span Адрес офиса
									a(href="#").icon--to-map На карте
								span.list-address--main г. Кимры, ул. Орджоникидзе д 85, офис 201
				.col-md-2
					.contact-footer
						ul.list-contact
							li
								span.name-contact Email
								a(href="mailto:office@steinhaus.ru") office@steinhaus.ru
							li
								span.name-contact Телефон
								a(href="tel:+7(495)543-76-66").link-phones +7 (495) #[span 543-76-66]

	.footer-bottom
		.container
			.copy-wrapper
				p.copy © 2016 Производитель лего кирпича STEINHAUS

				.politic-wrapper
					a(href="#") Политика конфиденциальности
					a(href="#") Разработано в DIBRAND